*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
doc/_build
doc/api/generated
doc/gallery
.ipynb_checkpoints
*.eggs
*.egg-info
MANIFEST
.coverage.*
*.ipynb
**/_version_generated.py
