*.pyc
*~
*.so
*.pyd
.*.swp
.coverage
.coverage.*
.*cache/
.ipynb_checkpoints
*.eggs
*.egg-info
*.ipynb
**/_version_generated.py
MANIFEST
build/
dist/
doc/_build
doc/api/generated
doc/gallery
doc/sg_execution_times.rst
